<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <!--Register to use hibernate-->
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <!--Register to use log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="F:\\LOG\\log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level priority="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2008Dialect
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.connection_string">
		  Data Source=112.213.86.198; Initial Catalog=nexmi_Ibms_minhhai; User ID=mihaco; Password=mihaco123
		  <!--Data Source=123.30.135.254; Initial Catalog=nexmi_demo; User ID=nexmi_demo; Password=bnm#$%678-->
		  <!--Data Source=123.30.135.254; Initial Catalog=nexmi_carmen; User ID=nexmi_carmen; Password=wsx123!@#-->
	  </property>
    </session-factory>
  </hibernate-configuration>
  
</configuration>